# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/

*.md
blogs
.vscode
.github
.devcontainer
build
cache
.gitignore
./*.yml
./*.yaml
OWNERS
PROJECT
Dockerfile
