---
{% for bsl in backup_storage_locations %}
{% if bsl.provider == 'gcp' %}
apiVersion: velero.io/v1
kind: BackupStorageLocation
metadata:
  name: {{ bsl.name }}
  namespace: {{ velero_namespace }}
spec:
  provider: {{ bsl.provider }}
  objectStorage:
    bucket: {{ bsl.object_storage.bucket }}
{% if bsl.object_storage.prefix is defined %}
    prefix: {{ bsl.object_storage.prefix }}
{% endif %}
{% if bsl.object_storage.ca_cert is defined %}
    caCert: {{ bsl.object_storage.ca_cert }}
{% endif %}
{% if bsl.config is defined %}
  config:
{% if bsl.config.kms_key_name is defined %}
    kmsKeyName: {{ bsl.config.kms_key_name }}
{% endif %}
{% if bsl.config.service_account is defined %}
    serviceAccount: {{ bsl.config.service_account }}
{% endif %}
{% endif %}
  accessMode: {{ bsl.access_mode | default('ReadWrite')}}
{% if bsl.backup_sync_period is defined %}
  backupSyncPeriod: {{ bsl.backup_sync_period }}
{% endif %}
{% endif %}
{% endfor %}
