apiVersion: oadp.openshift.io/v1alpha1
kind: DataProtectionApplication
metadata:
  name: velero-sample
spec:
  configuration:
    velero:
      defaultPlugins:
      - openshift
      - aws
      - kubevirt
    nodeAgent:
      enable: true
      uploaderType: restic
  backupLocations:
    - velero:
        provider: aws
        default: true
        objectStorage:
          bucket: my-bucket-name
          prefix: velero
        config:
          region: us-east-1
          profile: "default"
        credential:
          name: cloud-credentials
          key: cloud
  snapshotLocations:
    - velero:  
        provider: aws
        config:
          region: us-west-2
          profile: "default"
