apiVersion: oadp.openshift.io/v1alpha1
kind: Velero
metadata:
 namespace: openshift-adp
 name: {{ .VeleroName }}
spec:
 olmManaged: false
 backupStorageLocations:
   - provider: {{ .Provider }}
     default: true
     objectStorage:
      bucket: {{ .BucketName }}
      prefix: {{ .Prefix }}
     credential:
      name: {{ .CredentialsName }}
      key: cloud
     config:
      region: {{ .BslRegion }}
      profile: default
 enableRestic: true
 veleroFeatureFlags:
   - EnableCSI
 defaultVeleroPlugins:
   - aws
   - csi
   - openshift