---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: non-admin-controller-role
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oadp.openshift.io
  resources:
  - dataprotectionapplications
  verbs:
  - list
- apiGroups:
  - oadp.openshift.io
  resources:
  - nonadminbackups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oadp.openshift.io
  resources:
  - nonadminbackups/finalizers
  verbs:
  - update
- apiGroups:
  - oadp.openshift.io
  resources:
  - nonadminbackups/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oadp.openshift.io
  resources:
  - nonadminbackupstoragelocationrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oadp.openshift.io
  resources:
  - nonadminbackupstoragelocationrequests/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oadp.openshift.io
  resources:
  - nonadminbackupstoragelocations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oadp.openshift.io
  resources:
  - nonadminbackupstoragelocations/finalizers
  verbs:
  - update
- apiGroups:
  - oadp.openshift.io
  resources:
  - nonadminbackupstoragelocations/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oadp.openshift.io
  resources:
  - nonadmindownloadrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oadp.openshift.io
  resources:
  - nonadmindownloadrequests/finalizers
  verbs:
  - update
- apiGroups:
  - oadp.openshift.io
  resources:
  - nonadmindownloadrequests/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oadp.openshift.io
  resources:
  - nonadminrestores
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oadp.openshift.io
  resources:
  - nonadminrestores/finalizers
  verbs:
  - update
- apiGroups:
  - oadp.openshift.io
  resources:
  - nonadminrestores/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - velero.io
  resources:
  - backups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - velero.io
  resources:
  - backupstoragelocations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - velero.io
  resources:
  - backupstoragelocations/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - velero.io
  resources:
  - datadownloads
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - velero.io
  resources:
  - datauploads
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - velero.io
  resources:
  - deletebackuprequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - velero.io
  resources:
  - podvolumebackups
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - velero.io
  resources:
  - podvolumerestores
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - velero.io
  resources:
  - restores
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
