---
apiVersion: noobaa.io/v1alpha1
kind: NooBaa
metadata:
  name: noobaa
  labels:
    app: noobaa
  namespace: {{ noobaa_system_namespace }}
spec:
  dbResources:
    requests:
      cpu: {{ noobaa_system_db_cpu }}
      memory: {{ noobaa_system_db_mem }}
    limits:
      cpu: {{ noobaa_system_db_cpu }}
      memory: {{ noobaa_system_db_mem }}
  coreResources:
    requests:
      cpu: {{ noobaa_system_core_cpu }}
      memory: {{ noobaa_system_core_mem }}
    limits:
      cpu: {{ noobaa_system_core_cpu }}
      memory: {{ noobaa_system_core_mem }}
  endpoints:
    maxCount: {{ noobaa_system_endpoints_pod_count }}
    minCount: {{ noobaa_system_endpoints_pod_count }}
    resources:
      requests:
        cpu: {{ noobaa_system_endpoints_cpu }}
        memory: {{ noobaa_system_endpoints_mem }}
      limits:
        cpu: {{ noobaa_system_endpoints_cpu }}
        memory: {{ noobaa_system_endpoints_mem }}
