apiVersion: objectbucket.io/v1alpha1
kind: ObjectBucketClaim
metadata:
  name: {{ noobaa_system_pv_pool_bucket_name }}
  namespace: {{ noobaa_system_namespace }}
spec:
  bucketName: migstorage
  storageClassName: {{ noobaa_system_namespace }}.noobaa.io
  additionalConfig:
    bucketclass: {{ noobaa_system_pv_pool_bc_name }}
