apiVersion: noobaa.io/v1alpha1
kind: BucketClass
metadata:
  labels:
    app: noobaa
  name: {{ noobaa_system_pv_pool_bc_name }}
  namespace: {{ noobaa_system_namespace }}
spec:
  placementPolicy:
    tiers:
    - backingStores:
      - {{ noobaa_system_pv_pool_bs_name }}
      placement: Spread
