---
{% for bsl in backup_storage_locations %}
apiVersion: v1
kind: ConfigMap
metadata:
  name: oadp-registry-config
  namespace: {{ velero_namespace }}
data:
  {{ bsl.name }}: oadp-{{ bsl.name }}-{{ bsl.provider }}-registry-route
{% endfor %}
