---
{% for bsl in backup_storage_locations %}
{% if bsl.provider == 'azure' %}
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ velero_namespace }}
  name: oadp-{{ bsl.name }}-{{ bsl.provider }}-registry
spec:
  replicas: 1
  selector:
    matchLabels:
      component: oadp-{{ bsl.name }}-{{ bsl.provider }}-registry
  template:
    metadata:
      labels:
        component: oadp-{{ bsl.name }}-{{ bsl.provider }}-registry
    spec:
      restartPolicy: Always
      containers:
      - image: quay.io/konveyor/registry:latest
        name: oadp-{{ bsl.name }}-{{ bsl.provider }}-registry-container
        ports:
        - containerPort: 5000
          protocol: TCP
        env:
          - name: REGISTRY_STORAGE
            value: azure
          - name: REGISTRY_STORAGE_AZURE_CONTAINER
            value: "{{ bsl.object_storage.container }}"
          - name: REGISTRY_STORAGE_AZURE_ACCOUNTNAME
            value: "{{ bsl.config.storage_account }}"
          - name: REGISTRY_STORAGE_AZURE_ACCOUNTKEY
            value: {{ azure_account_key }}
{% endif %}
{% endfor %}
