---
{% for bsl in backup_storage_locations %}
{% if bsl.provider == 'gcp' %}
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ velero_namespace }}
  name: oadp-{{ bsl.name }}-{{ bsl.provider }}-registry
spec:
  replicas: 1
  selector:
    matchLabels:
      component: oadp-{{ bsl.name }}-{{ bsl.provider }}-registry
  template:
    metadata:
      labels:
        component: oadp-{{ bsl.name }}-{{ bsl.provider }}-registry
    spec:
      restartPolicy: Always
      containers:
      - image: {{ velero_registry_image }}:{{ velero_registry_tag }}
        name: oadp-{{ bsl.name }}-{{ bsl.provider }}-registry-container
        ports:
        - containerPort: 5000
          protocol: TCP
        env:
          - name: REGISTRY_STORAGE
            value: gcs
          - name: REGISTRY_STORAGE_GCS_BUCKET
            value: "{{ bsl.object_storage.bucket }}"
          - name: REGISTRY_STORAGE_GCS_KEYFILE
            value: "{{ gcp_secret_key_file }}"
{% if bsl.config.root_directory is defined %}
          - name: REGISTRY_STORAGE_GCS_ROOTDIRECTORY
            value: {{ bsl.config.root_directory }}
{% endif %}
{% endif %}
{% endfor %}
