---
{% for bsl in backup_storage_locations %}
{% if bsl.provider == 'azure' %}
apiVersion: velero.io/v1
kind: BackupStorageLocation
metadata:
  name: {{ bsl.name }}
  namespace: {{ velero_namespace }}
spec:
  provider: {{ bsl.provider }}
  objectStorage:
    bucket: {{ bsl.object_storage.bucket }}
{% if bsl.object_storage.prefix is defined %}
    prefix: {{ bsl.object_storage.prefix }}
{% endif %}
{% if bsl.object_storage.ca_cert is defined %}
    caCert: {{ bsl.object_storage.ca_cert }}
{% endif %}
{% if bsl.config is defined %}
  config:
    resourceGroup: {{ bsl.config.resource_group }}  
    storageAccount: {{ bsl.config.storage_account }}
{% if bsl.config.storage_account_key_env_var is defined %}
    storageAccountKeyEnvVar: {{ bsl.config.storage_account_key_env_var }}
{% endif %}
{% if bsl.config.subscription_id is defined %}
    subscriptionId: {{ bsl.config.subscription_id }}
{% endif %}
{% if bsl.config.block_size_in_bytes is defined %}
    blockSizeInBytes: "{{ bsl.config.block_size_in_bytes | string }}"
{% endif %}
{% endif %}
  accessMode: {{ bsl.access_mode | default('ReadWrite')}}
{% if bsl.backup_sync_period is defined %}
  backupSyncPeriod: {{ bsl.backup_sync_period }}
{% endif %}
{% endif %}
{% endfor %}
