---
{% for vsl in volume_snapshot_locations %}
apiVersion: velero.io/v1
kind: VolumeSnapshotLocation
metadata:
  name: {{ vsl.name }}
  namespace: {{ velero_namespace }}
spec:
  provider: {{ vsl.provider }}
{% if vsl.config is defined %}
  config:
    region: {{ vsl.config.region }}
    profile: {{ vsl.config.profile }}
{% endif %}
{% endfor %}
