---
apiVersion: v1
kind: ConfigMap
metadata:
  name: restic-restore-action-config
  namespace: {{ velero_namespace }}
  labels:
    velero.io/plugin-config: ""
    velero.io/restic: RestoreItemAction
data:
  image: {{ velero_restic_restore_helper_image }}:{{ velero_restic_restore_helper_version }}
---
{% if lookup('k8s', cluster_info='version').kubernetes.minor|replace('+', '')|int < 9 %}
apiVersion: apps/v1beta1
{% else %}
apiVersion: apps/v1
{% endif %}
kind: Deployment
metadata:
  namespace: {{ velero_namespace }}
  name: velero
spec:
  selector:
    matchLabels:
      component: velero
  replicas: {{ size | int }}
  template:
    metadata:
      labels:
        component: velero
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8085"
        prometheus.io/path: "/metrics"
    spec:
      restartPolicy: Always
      serviceAccountName: velero
      containers:
        - name: velero
          image: {{ velero_image_fqin }}
          imagePullPolicy: "{{ image_pull_policy }}"
          ports:
            - name: metrics
              containerPort: 8085
{% if velero_resource_allocation is defined %}
          resources:
            limits:
              cpu: {{ velero_resource_allocation.limits.cpu }}
              memory: {{ velero_resource_allocation.limits.memory }}
            requests:
              cpu: {{ velero_resource_allocation.requests.cpu }}
              memory: {{ velero_resource_allocation.requests.memory }}
{% else %}
          resources:
            limits:
              cpu: "1"
              memory: 512Mi
            requests:
              cpu: 500m
              memory: 128Mi
{% endif %}
          command:
            - /velero
          args:
            - server
            - --restic-timeout
            - {{ restic_timeout }}
{% if velero_feature_flags is defined and velero_feature_flags|length > 0 %}
            - --features
            - {{ velero_feature_flags }}
{% endif %}
{% if velero_debug %}
            - --log-level
            - debug
{% endif %}
          volumeMounts:
{% if 'aws' in default_velero_plugins %}
            - name: {{ velero_aws_secret_name }}
              mountPath: /credentials
{% endif %}
{% if 'gcp' in default_velero_plugins %}
            - name: {{ velero_gcp_secret_name }}
              mountPath: /credentials-gcp
{% endif %}
{% if 'azure' in default_velero_plugins %}
            - name: {{ velero_azure_secret_name }}
              mountPath: /credentials-azure
{% endif %}
            - name: plugins
              mountPath: /plugins
            - name: scratch
              mountPath: /scratch
            - name: certs
              mountPath: /etc/ssl/certs
          env:
            - name: LD_LIBRARY_PATH
              value: /plugins
{% if 'aws' in default_velero_plugins %}
            - name: AWS_SHARED_CREDENTIALS_FILE
              value: /credentials/cloud
{% endif %}
{% if 'gcp' in default_velero_plugins %}
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /credentials-gcp/cloud
{% endif %}
{% if 'azure' in default_velero_plugins %}
            - name: AZURE_CREDENTIALS_FILE
              value: /credentials-azure/cloud
{% endif %}
            - name: VELERO_NAMESPACE
              value: {{ velero_namespace }}
            - name: VELERO_SCRATCH_DIR
              value: /scratch
{% if http_proxy|length >0 %}
            - name: HTTP_PROXY
              value: {{ http_proxy }}
{% endif %}
{% if https_proxy|length >0 %}
            - name: HTTPS_PROXY
              value: {{ https_proxy }}
{% endif %}
{% if no_proxy|length >0 %}
            - name: NO_PROXY
              value: {{ no_proxy }}
{% endif %}
      volumes:
{% if 'aws' in default_velero_plugins %}
        - name: {{ velero_aws_secret_name }}
          secret:
            secretName: {{ velero_aws_secret_name }}
{% endif %}
{% if 'gcp' in default_velero_plugins %}
        - name: {{ velero_gcp_secret_name }}
          secret:
            secretName: {{ velero_gcp_secret_name }}
{% endif %}
{% if 'azure' in default_velero_plugins %}
        - name: {{ velero_azure_secret_name }}
          secret:
            secretName: {{ velero_azure_secret_name }}
{% endif %}
        - name: plugins
          emptyDir: {}
        - name: scratch
          emptyDir: {}
        - name: certs
          emptyDir: {}
      initContainers:
{% if 'openshift' in default_velero_plugins %}
        - image: {{ velero_openshift_plugin_image }}:{{ velero_openshift_plugin_version }}
          imagePullPolicy: "{{ image_pull_policy }}"
          name: openshift-velero-plugin
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /target
            name: plugins
{% endif %}
{% if 'aws' in default_velero_plugins %}
        - image: {{ velero_aws_plugin_image }}:{{ velero_aws_plugin_version }}
          imagePullPolicy: "{{ image_pull_policy }}"
          name: velero-plugin-for-aws
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /target
            name: plugins
{% endif %}
{% if 'gcp' in default_velero_plugins %}
        - image: {{ velero_gcp_plugin_image }}:{{ velero_gcp_plugin_version }}
          imagePullPolicy: "{{ image_pull_policy }}"
          name: velero-plugin-for-gcp
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /target
            name: plugins
{% endif %}
{% if 'azure' in default_velero_plugins %}
        - image: {{ velero_azure_plugin_image }}:{{ velero_azure_plugin_version }}
          imagePullPolicy: "{{ image_pull_policy }}"
          name: velero-plugin-for-microsoft-azure
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /target
            name: plugins
{% endif %}
{% if 'csi' in default_velero_plugins %}
        - image: {{ velero_csi_plugin_image }}:{{ velero_csi_plugin_version }}
          imagePullPolicy: "{{ image_pull_policy }}"
          name: velero-plugin-for-csi
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /target
            name: plugins
{% endif %}
{% if 'vsphere' in default_velero_plugins %}
        - image: {{ velero_vsphere_plugin_image }}:{{ velero_vsphere_plugin_version }}
          imagePullPolicy: "{{ image_pull_policy }}"
          name: velero-plugin-for-vsphere
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /target
            name: plugins
{% endif %}
        - image: {{ velero_image_fqin }}
          imagePullPolicy: "{{ image_pull_policy }}"
          name: setup-certificate-secret
          command:
          - sh
          - '-ec'
          - >-
            cp /etc/ssl/certs/* /certs/; ln -sf /credentials/ca_bundle.pem
            /certs/ca_bundle.pem;
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /certs
            name: certs
{% if 'aws' in default_velero_plugins %}
          - mountPath: /credentials
            name: {{ velero_aws_secret_name }}
{% endif %}
{% for plugin in custom_velero_plugins %}
        - image: {{ plugin.image }}
          imagePullPolicy: "{{ image_pull_policy }}"
          name: {{ plugin.name }}
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /target
            name: plugins
{% endfor %}
